/* <pre>CSS placed here will be applied to all skins */

/**
 * Main page
 */
.page-Main_Page .firstHeading, .page-Main_Page #siteSub {
	display:none;
}

.mainpage {
        position:static;
}

.mainpage .titlebox {
        background:#f1f6fc;
        border:1px solid #56a8fc;
        margin:0.5ex 0em 2ex 0em;
        padding:0.5ex 0.5em 0.5ex 0.5em;
        width:100%;
}

.mainpage .welcomeheader {
        font-size:200%;
        padding-bottom:1ex;
        padding-top:1ex;
        width:50%;
}

.mainpage .welcomefooter {
        font-size:90%;
}

.mainpage .featured {
        background:#f0fef0;
        border:1px solid #58fd58;
        margin:2ex 0ex 2ex 0ex;
        padding:1ex;
}

.mainpage .featured .heading {
        background:#d0fdd0;
        border:1px solid #40fd40;
        font-size:125%;
        margin-bottom:1ex;
        text-align:center;
}

.mainpage .collaboration {
        background:#fff5f5;
        border:1px solid #ff5555;
        margin:2ex 0ex 2ex 0ex;
        padding:1ex;
}

.mainpage .collaboration .heading {
        background:#ffd0d0;
        border:1px solid #ff4040;
        font-size:125%;
        margin-bottom:1ex;
        text-align:center;
}

.mainpage .collaboration .table {
        background:#fff5f5;
        table-layout:fixed;
        vertical-align:top;
        width:100%;
}

/**
 * Shortcut layout (if a shortcut exists)
 * float and clear are controlled by the shortcut template
 */
#shortcut {
        background:white;
        border:1px solid gray;
        font-size:smaller;
        font-weight:bolder;
        margin:0px 0px 0.5em 1ex;
        padding:5px;
}

/**
 * Header layout
 */
#headertemplate .main {
        background:#f1f6fc;
        border:1px solid blue;
        margin-bottom:0.5ex;
        text-align:center;
        width:100%
}

#headertemplate .title {
        text-align:center;
        width:60%;
}

#headertemplate .left {
        text-align:left;
        width:20%
}

#headertemplate .right {
        text-align:right;
        width:20%;
}

#headertemplate .notes {
        background:#fafafa;
        border-bottom:1px solid black;
        margin-bottom:1ex;
        width:100%;
}

/**
 * JHilbert output
 */
.jhilbert {
        background:#eeeeee;
        border:1px solid gray;
        font-family:monospace;
        font-style:normal;
        font-weight:normal;
}

.jhilbert .comment {
        color:silver;
}

.jhilbert .keyword {
        font-weight:bold;
}

.jhilbert .kind {
        color:#33cc33;
}

.jhilbert .label {
        color:olive;
}

.jhilbert .locator {
        color:blue;
        text-decoration:underline;
}

.jhilbert .param {
        color:maroon;
}

.jhilbert .stat {
        color:fuchsia;
}

.jhilbert .var {
        font-style:italic;
}

/**
 * [[Template:Modules]], [[Template:Interfaces]]
 */
.modules_template,.interfaces_template {
        background:#f0f0f0;
        border:1px solid gray;
        border-collapse:collapse;
        float:right;
        margin:0.5em;
        width:30%;
}

.modules_template .heading {
        background:#e7fde7;
        font-size:125%;
}

.interfaces_template .heading {
        background:#f7e7e7;
        font-size:125%;
}

.modules_template .parameters, .modules_template .imports, .modules_template .exports {
        background:#f0fdf0;
        border-bottom:1px solid gray;
        border-top:2px solid gray;
}

.interfaces_template .imports, .interfaces_template .exports {
        background:#f7f0f0;
        border-bottom:1px solid gray;
        border-top:2px solid gray;
}

/**
 * [[Template:sandbox pages]]
 */

.sandbox_pages_template {
        background:#f0f0f0;
        border:1px solid gray;
        border-collapse:collapse;
        float:right;
        margin:0.5em;
        width:50%;
}

.sandbox_pages_template .heading {
        background:#e7e7e7;
        font-size:125%;
}

.sandbox_pages_template .entry {
        vertical-align:top;
}

/**
 * [[Template:Wikipedia]]
 */

.wikipedia_template {
        background:#f7f7f7;
        border:1px solid #aaa;
        clear:right;
        float:right;
        font-size:small;
        margin:0ex 0em 1ex 0.5em;
        padding:5px;
        width:15em;
}

.wikipedia_template .icon {
        float:left;
        padding-right:0.5em;
        padding-top:1ex;
}

/* </pre> */