/* <pre>CSS placed here will be applied to all skins */

/**
 * Main page
 */
.page-Main_Page .firstHeading, .page-Main_Page #siteSub {
	display:none;
}

.mainpage {
        position:static;
}

.mainpage .titlebox {
        background:#f1f6fc;
        border:1px solid #56a8fc;
        margin:0em 0em 2ex 0em;
        padding:0.5ex 0.5em 0.5ex 0.5em;
        width:98%;
}

.mainpage .boxtop {
        position:relative;
}

.mainpage .welcome {
        position:absolute;
}

.mainpage .welcomeheader {
        font-size:200%;
}

.mainpage .welcomefooter {
        font-size:90%;
}

.mainpage .tblinks {
        left:50%;
        position:absolute;
        top:0px;
}

/**
 * Shortcut layout (if a shortcut exists)
 * float and clear are controlled by the shortcut template
 */
#shortcut {
        background:white;
        border:1px solid gray;
        font-size:smaller;
        font-weight:bolder;
        margin:0px 0px 0.5em 1ex;
        padding:5px;
}

/**
 * Header layout
 */
#headertemplate .main {
        background:#f1f6fc;
        border:1px solid blue;
        margin-bottom:0.5ex;
        text-align:center;
        width:100%
}

#headertemplate .title {
        text-align:center;
        width:60%;
}

#headertemplate .left {
        text-align:left;
        width:20%
}

#headertemplate .right {
        text-align:right;
        width:20%;
}

#headertemplate .notes {
        background:#fafafa;
        border-bottom:1px solid black;
        width:100%;
}

/**
 * JHilbert output
 */
.jhilbert {
        background:#eeeeee;
        border:1px solid gray;
        font-family:monospace;
        font-style:normal;
        font-weight:normal;
}

.jhilbert .comment {
        color:silver;
}

.jhilbert .keyword {
        font-weight:bold;
}

.jhilbert .kind {
        color:lime;
}

.jhilbert .label {
        color:olive;
}

.jhilbert .locator {
        color:blue;
        text-decoration:underline;
}

.jhilbert .param {
        color:maroon;
}

.jhilbert .stat {
        color:fuchsia;
}

.jhilbert .var {
        font-style:italic;
}

/* </pre> */